altgraph==0.17
appdirs==1.4.4
arcade==2.4.3
attrs==19.3.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.4
dnspython==1.16.0
easygui==0.98.1
eventlet==0.26.1
future==0.18.2
greenlet==0.4.16
idna==2.10
monotonic==1.5
mypy-extensions==0.4.3
netifaces==0.10.6
numpy==1.19.1
pathspec==0.8.0
pefile==2019.4.18
Pillow==7.2.0
pycparser==2.20
pyfiglet==0.8.post1
pyglet==1.5.7
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pymunk==5.6.0
python-engineio==3.13.1
python-socketio==4.6.0
pytiled-parser==0.9.4a3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
